<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3 class="text-center mt-4 fw-semibold"><%= listing.title %></h3>

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
          <img
            src="<%= listing.image %>"
            class="card-img-top object-fit-cover"
            alt="Listing Image"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text text-dark mb-3">
              <b>Owned By : <%= listing.owner.username %></b>
            </p>
            <p class="card-text text-dark mb-3"><%= listing.description %></p>

            <div class="mb-2">
              <% if (listing.price !== undefined && listing.price !== null) { %>
              <span class="fw-bold text-success fs-5">
                <i class="fa-solid fa-indian-rupee-sign me-1"></i>
                <%= listing.price.toLocaleString("en-IN") %>
              </span>
              <% } else { %>
              <span class="text-muted">Price not available</span>
              <% } %>
            </div>

            <div class="text-secondary">
              <i class="fa-solid fa-location-dot me-1"></i>
              <%= listing.location %> <%= listing.country %>
            </div>
          </div>

          <% if(currUser && currUser._id.equals(listing.owner._id)) {%>

          <div
            class="card-footer bg-white border-0 d-flex justify-content-between px-3 pb-3"
          >
            <a
              href="/listings/<%= listing._id %>/edit"
              class="btn btn-sm btn-outline-primary rounded-pill px-3"
            >
              <i class="fa-solid fa-pen-to-square me-1"></i> Edit
            </a>
            <form
              method="POST"
              action="/listings/<%= listing._id %>?_method=DELETE"
              onsubmit="return confirm('Are you sure you want to delete this listing?')"
            >
              <button class="btn btn-sm btn-outline-danger rounded-pill px-3">
                <i class="fa-solid fa-trash me-1"></i> Delete
              </button>
            </form>
          </div>
          <% } %>
        </div>
        <br /><br />
        <hr />
      </div>
      <div class="card shadow-lg border-0 rounded-4 overflow-hidden mb-4">
        <h4>Leave a review!!</h4>

        <% if(currUser){ %>
        <form
          action="/listings/<%=listing.id%>/reviews"
          method="POST"
          novalidate
          class="needs-validation"
        >
          <div>
            <label for="rating" class="form-label">Rating</label>
            <input
              type="range"
              min="1"
              max="5"
              id="rating"
              name="review[rating]"
              class="form-range"
            />
          </div>
          <div>
            <label for="comment" class="form-label">Comments</label>
            <textarea
              name="review[comment]"
              id="comment"
              rows="5"
              cols="45"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">Enter some comment</div>
          </div>
          <button class="btn btn-sm btn-outline-primary rounded-pill px-3">
            Submit
          </button>
        </form>
        <% } %>
      </div>

      <hr />

      <div class="card shadow-lg border-2 rounded-4 overflow-hidden my-4">
        <div class="card-body">
          <h4
            class="card-title mb-4 text-center text-primary fw-bold border-bottom pb-2"
          >
            All Reviews
          </h4>
          <ul class="list-group list-group-flush">
            <% for (let review of listing.reviews) { %>
            <li
              class="list-group-item d-flex justify-content-between align-items-start align-items-center"
            >
              <div class="me-auto">
                <div class="fw-semibold">@<%= review.author.username %></div>
                <div><%= review.comment %></div>
              </div>
              <div class="d-flex flex-column align-items-end">
                <span class="badge bg-success rounded-pill mb-2"
                  ><%= review.rating %>★</span
                >
                <form
                  method="POST"
                  action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                >
                  <button type="submit" class="btn btn-sm btn-outline-danger">
                    <i class="bi bi-trash"></i> Delete
                  </button>
                </form>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
